/**This is the style sheet for this small site... lol**/

body{
	font-family: Inter UI;
	font-size: 38px;
	font-weight: 700;
	line-height: 64px;
	color: #F8FAF9;
	background: #090A0A;
	position: relative;
	text-align: center;
}


.center{
	overflow: hidden;
	position: absolute;
	margin: 200px auto;
	
}

h1{

	text-align: center;
}



