/**This is the style sheet for this small site... lol**/

body{
	font-family: Inter UI;
	font-size: 44px;
	font-weight: 700;
	line-height: 60px;
	color: #F8FAF9;
	background: #090A0A;
	position: relative;
}


.center{
	overflow: hidden;
	position: absolute;
	top: 50%;
}

h1{

	text-align: center;
}



