/**This is the style sheet for this small site... lol**/

body{
	padding:0;
	margin:0;
	width: auto;
	font-family: Inter UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 150%;
	color: #FFFFFF;
	background: #121A12;
}


.center{
	position:relative;
	top: 32px;
	margin: auto;
	width: 86%;
}

h1{
	font-size: 48px;
	font-weight: 600;
	line-height: 150%;
}

p{
	text-align: left;
	margin-bottom: 32px;
}

button{
	width: 180px;
	height: 48px;
	background: #4CAF50;
	border-radius: 4px;
	border: none;
	font-size: 22px;
	color: #FFFFFF;
	cursor: pointer;
	margin-bottom:32px;
}

